{
  "packageDirectories": [
    {
      "path": "force-app",
      "package": "Agentforce Topics",
      "versionName": "ver 1.0",
      "versionNumber": "1.0.0.NEXT",
      "default": true
    }
  ],
  "name": "agentforce-topics",
  "namespace": "",
  "sfdcLoginUrl": "https://login.salesforce.com",
  "sourceApiVersion": "64.0",
  "packageAliases": {
    "Agentforce Topics": "0HoXXXXXXXXXXXXXXX"
  }
}
